<div id='content'>
<h1>Playlist</h1>
<% if user_signed_in? %>
Volume:</b><input id="slide" type="range" min="1" max="100" step="1" value="50" onchange="threeSixtyPlayer.setVolume(this.value)">
<div id="audios"></div>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $.getJSON('/uploads', function (files) {
            console.log(files);
            for(var i=0;i<files.length;i++){
               var main= $('<div class="ui360"></div>');
                var link=$('<a href="'+files[i].url+'">'+files[i].name+'</a>');
                main.append(link);
                $('#audios').append(main);
            }
        });
    });
</script>
<% else %>
    <h2>Please login or register</h2>
<%end%>
</div>